body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100vh;
}

.big-box{
    background: blue;
    width: 95%;
    height: 200px;
}

.small-box{
    height: 200px;
    background: darkblue;
    width: 30%;
}

.big-box, .small-box {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}