body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 20px;
    padding: 10px 0;
}

.silver-center {
    background: silver;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 2em;
    font-family: sans-serif;
    color: gray;
}

.adaptive-base-1, .adaptive-base-2 {
    width: calc(100vw - 40px);
    height: calc(100vh - 20px);
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.fg1 {
    flex-grow: 1;
}

.fg3 {
    flex-grow: 3;
}

.fg7 {
    flex-grow: 7;
}

.fr {
    display: flex;
    column-gap: 10px;
}

.fc {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}



@media screen and (max-width: 576px) {
    .fc-sm {
        flex-direction: column;
        row-gap: 10px;
    }

    .fg1-sm {
        flex-grow: 1;
    }

    .fg2-sm {
        flex-grow: 2;
    }

    .fg3-sm {
        flex-grow: 3;
    }

    .fg4-sm {
        flex-grow: 4;
    }

}